$button-color: #5b8c00;


.card {
  margin: 10px;
}
.head {
  color: #ffffff;
  font-size: large;
  text-align: center;
}
.content {
  align-content: center;
  height: 100%;
  margin: 0;
  background-color: #ffffff;
}
.ant-checkbox-checked .ant-checkbox-inner, .ant-btn-primary {
  background-color: $button-color;
  border-color: $button-color;
}
