.card {
  margin: 10px;
  background-color: #e6f7ff;
}
.head {
  color: #ffffff;
  font-size: large;
  text-align: center;
}
.content {
  align-content: center;
  height: 100%;
  margin: 0;
  background-color: #ffffff;
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #5b8c00;
  border-color: #5b8c00;
}